html, body{
    text-align: center;
}

#video-canvas
{
    height: 80vh;
    width: 80vw;
    border-style: solid;
}
#path-canvas
{
    border-style: solid;
}
.drone-states
{
    color:red;
    position: absolute;
    background-color: rgba(148, 148, 148, 0.185);
    top:10px;
    height:auto;
    width: 100px;
}

.drone-height
{
    position: absolute;
    top:40px;
    right: 42px;
}

.h-slider
{
    background-color: aqua;
    outline: none;
    width: 10px;
}
.h-slider::-webkit-slider-thumb
{
    background: red;
    width: 15px;
    height: 15px;
}

.fly-to-path-btn
{
    background-color: aqua;
    height: 100px;
    width: 100px;
}

.fly-to-path-btn:active
{
    background-color: rgb(59, 124, 124);
}